body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  padding-bottom: 59px;
  background-color: #f1f5f7;
}

.header {
  margin-bottom: 60px;
}

.main-menu {
  margin-bottom: 5px;
  background-color: #293449;
}

.header-logo {
  float:left;
  width: 220px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo-name {
  display: block;
  padding: 10px 54px 8px 56px;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.header-logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.header-logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.block-search {
  float: left;
  width: 270px;
  font-size: 0;
}

.search {
  position: relative;
}

.search input[type="search"] {
  width: 270px;
  height: 42px;
  box-sizing: border-box;
  padding: 12px 0;
  padding-left: 47px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background: #293449 url("../img/icon-search.png") no-repeat 16px 12px;
  border: none;
}

.search input[type="search"]:hover {
  background: #212a3a url("../img/icon-search-hover.png") no-repeat 16px 12px;
}

.search input[type="search"]:focus  {
  background: #ffffff url("../img/icon-search-focus.png") no-repeat 16px 12px;
  color: #000000;
}

.search input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}

.search input[type="search"]::-moz-placeholder {
  color: #ffffff;
}

.search input[type="search"]:-moz-placeholder {
  color: #ffffff;
}

.search input[type="search"]:-ms-input-placeholder {
  color: #ffffff;
}

.top-menu {
  float: right;
  max-width: 450px;
  font-size: 0;
}

.top-menu-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  max-width: 150px;
  margin: 0;
  padding: 12px 33px 12px 28px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.top-menu-btn-bookmark {
  padding-left: 40px;
}

.top-menu-btn-basket {
  padding-left: 44px;
}

.top-menu-btn-bookmark:hover,
.top-menu-btn-basket:hover {
  background: #212a3a;
}

.top-menu-btn-bookmark:active,
.top-menu-btn-basket:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.top-menu-btn-bookmark-active,
.top-menu-btn-basket-active {
  padding-right: 28px;
  background-color: #ee3643;
}

.top-menu-btn::before {
  content: "";
  position: absolute;
  left: 13px;
  background-image: url("../img/sprite.png");
}

.top-menu-btn-bookmark::before {
  width: 14px;
  height: 16px;
  background-position: -83px -5px;
  opacity: 0.3;
}

.top-menu-btn-bookmark:hover::before {
  opacity: 1;
}

.top-menu-btn-bookmark:active::before {
  opacity: 0.5;
}

.top-menu-btn-basket::before {
  width: 17px;
  height: 16px;
  background-position: -32px -5px;
  opacity: 0.3;
}

.top-menu-btn-basket:hover::before {
  opacity: 1;
}

.top-menu-btn-basket:active::before {
  opacity: 0.5;
}

.top-menu-btn-order {
  padding-left: 21px;
  padding-right: 20px;
  background-color: #63a63e;
}

.top-menu-btn-order:hover {
  background-color: #5fbb2d;
}

.top-menu-btn-order:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.shop-info {
  padding-top: 43px;
  padding-bottom: 38px;
}

.about-shop {
  float: left;
  max-width: 197px;
  margin-left: 51px;
  margin-right: 72px;
}

.about-shop p {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.shop-contacts {
  float: left;
  width: 270px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.shop-contacts-phone {
  display: block;
  padding: 9px 43px;
  padding-left: 64px;
  font-size: 21px;
  line-height: 18px;
  color: #ee3643;
  background: transparent url("../img/icon-phone.png") no-repeat 12px 8px;
  border: 3px solid #ffffff;
}

.shop-contacts-adress {
  display: block;
  padding-top: 6px;
}

.user-block {
  float: right;
  width: 300px;
  font-size: 0;
}

.user-block-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-left: 20px;
  padding: 11px 24px;
  font-size: 21px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
}

.user-block-btn-login {
  padding-left: 45px;
}

.user-block-btn-registration {
  padding-left: 26px;
}

.user-block-btn::before {
  content: "";
  position: absolute;
  left: 15px;
  background-image: url("../img/sprite.png");
}

.user-block-btn-login::before {
  width: 20px;
  height: 17px;
  background-position: -350px -5px;
}

.user-block-btn-login:hover::before {
  width: 20px;
  height: 17px;
  background-position: -380px -5px;
}

.user-block-btn-login:active::before {
  width: 20px;
  height: 17px;
  background-position: -350px -5px;
}

.user-block-btn-login:hover {
  color: #ee3643;
}

.user-block-btn-login:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-block-btn-registration {
  margin-left: 10px;
}

.user-block-btn-registration:hover {
  color: #ee3643;
}

.user-block-btn-registration:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation {
  width: 940px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  background-color: #32425c;
}

.navigation-item {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  line-height: 17px;
}

.navigation-item a {
  display: block;
  padding: 20px 24px 20px 37px;
  color: #ffffff;
  text-decoration: none;
  background-color: #32425c;
  border-bottom: 3px solid #293449;
}

.navigation-item:first-child a {
  padding-left: 51px;
}

.navigation-item:last-child a {
  padding-right: 53px;
}

.navigation-item a:hover {
  background-color: #293449;
}

.navigation-item a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.main-content {
  margin-bottom: 45px;
}

.promo-block {
  margin-bottom: 53px;
}

.promo-row-top {
  margin-bottom: 20px;
  font-size: 0;
}

.banner {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin-right: 20px;
  font-size: 13px;
}

.banner-title {
  max-width: 155px;
  margin: 21px 0 12px 22px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
}

.banner-btn {
  display: inline-block;
  vertical-align: top;
  width: 135px;
  margin-left: 23px;
  margin-bottom: 22px;
  padding: 10px 0 10px 0;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.banner-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.banner-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-row-top .banner:last-child {
  margin-right: 0;
}

.banner-materials {
  background-color: #f6b22d;
  background-image: url("../img/banner-materials.png"), url("../img/new-flag.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 213px 30px, 240px 0px;
}

.banner-instruments {
  background: #4aafde url("../img/banner-instruments.png") no-repeat 196px 32px;
}

.banner-technics {
  background: #cc79d1 url("../img/banner-technics.png") no-repeat 191px 30px;
}

.banner-discounts {
  background: #85d179 url("../img/banner-discounts.png") no-repeat 196px 26px;
}

.banner-shipping {
  background: #f6b22d url("../img/banner-shipping.png") no-repeat 190px 32px;
}

.promo-column-left {
  float: left;
  width: 620px;
}

.slider {
  position: relative;
  width: 620px;
  margin: 0 auto;
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 35px;
  left: 50%;
  width: 100px;
  height: 14px;
  margin-left: -50px;
  text-align: center;
  z-index: 30;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 7px;
  height: 7px;
  margin: 0 5px;
  background-color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background-color: #ee3643;
}

.slider-slide {
  width: 620px;
  height: 266px;
  color: #ffffff;
  overflow: hidden;
  display: none;
}

.slider-title {
  margin: 0;
  padding: 25px 0 5px 24px;
  font-size: 35px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.slider-text {
  margin: 0;
  padding-left: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}

.slider-btn {
  display: block;
  width: 195px;
  margin-top: 122px;
  margin-left: 25px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
}

.slider-btn:hover {
  background-color: #ca2c37;
}

.slider-btn:active {
  background-color: #ba2732;
}

.slider-slide:nth-child(1) {
  background-image: url("../img/slider-1.jpg");
  background-repeat: no-repeat;
  background-position: 100%;
}

.slider-slide:nth-child(2) {
  background-image: url("../img/slider-2.jpg");
  background-repeat: no-repeat;
  background-position: 100%;
}

#btn-1:checked ~ .slider-slides .slider-slide:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slider-slides .slider-slide:nth-child(2) {
  display: block;
}

.arrow {
  position: absolute;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 40px;
  border: 0px;
}

.arrow-prev {
  top: 115px;
  left: 25px;
  background: url("../img/prev.png") no-repeat;
}

.arrow-next {
  top: 115px;
  left: 575px;
  background: url("../img/next.png") no-repeat;
}

.arrow-prev:hover,
.arrow-next:hover {
  opacity: 0.6;
}

.promo-column-right {
  float: right;
  width: 300px;
}

.promo-column-right .banner {
  margin-right: 0;
}

.promo-column-right .banner:first-child {
  margin-bottom: 20px;
}

.popular-row {
  margin-bottom: 20px;
  font-size: 0;
  background-color: #f7f3ec;
}

.popular-title {
  float: left;
  margin-top: 30px;
  margin-left: 28px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
}

.block-popular-brands .popular-title {
  margin-left: 24px;
}

.popular-btn {
  float: right;
  width: 253px;
  margin: 25px 24px 25px 0;
  padding: 10px 0 10px 0;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
}

.popular-btn:hover {
  background-color: #ca2c37;
}

.popular-btn:active {
  background-color: #ba2732;
}

.popular-items {
  font-size: 0;
}

.item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 19px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #e5e5e5;
}

.main-item {
  margin-bottom: 21px;
}

.main-item:last-child {
  margin-right: 0;
}

.flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 43px 0;
  background-color: #ffffff;
  z-index: 10;
}

.actions .btn-buy,
.actions .btn-bookmark {
  display: block;
  width: 69px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 30px;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.actions .btn-buy {
  position: relative;
  color: #ffffff;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
}

.actions .btn-buy::before {
  content: "";
  position: absolute;
  left: 10px;
  background-image: url("../img/sprite.png");
}

.actions .btn-buy-basket::before {
  width: 17px;
  height: 16px;
  background-position: -32px -5px;
  opacity: 0.3;
}

.actions .btn-buy-basket:hover::before {
  opacity: 1;
}

.actions .btn-buy-basket:active::before {
  opacity: 1;
}

.actions .btn-bookmark {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  border: 1px solid #ffffff;
}

.actions .btn-buy:hover {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #367315;
}

.actions .btn-buy:active {
  background-color: #518534;
  border-color: #518534;
}

.actions .btn-bookmark:hover {
  border-color: #32425c;
}

.actions .btn-bookmark:active {
  opacity: 0.3;
}

.actions {
  display: none;
}

.item:hover .actions {
  display: block;
}

.item .item-picture {
  width: 218px;
  height: 168px;
}

.item-picture img {
  max-width: 100%;
}

.item-title {
  display: block;
  margin-top: 13px;
  margin-bottom: 11px;
  padding: 0 20px;
  color: #000000;
  text-decoration: none;
}

.old-price {
  min-height: 20px;
  color: #999999;
  text-transform: uppercase;
  text-decoration: line-through;
}

.price {
  position: relative;
  width: 80px;
  margin: 7px 35px 7px 42px;
  margin-bottom: 20px;
  padding: 10px 30px 8px 30px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
}

.price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 19px solid #ffffff;
  border-left-color: #ee3643;
}

.popular-brands {
  margin-bottom: 66px;
  font-size: 0;
}

.brand {
  display: inline-block;
  width: 218px;
  height: 143px;
  margin-right: 20px;
  margin-bottom: 20px;
  vertical-align: top;
  border: 1px solid #e5e5e5;
}

.brand:nth-child(4n) {
  margin-right: 0;
}

.brand:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  border: 1px solid #ffffff;
}

.brand:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.block-service {
  margin-bottom: 57px;
  padding-top: 43px;
  font-size: 0;
  background-color: #f1f5f7;
  color: #000000;
}

.block-service-title {
  width: 400px;
  margin-bottom: 23px;
}

.block-service-title h2 {
  font-size: 30px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
}

.block-service-title p {
  padding-top: 4px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.service-slider {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.service-slider input[type="radio"] {
  display: none;
}

.service-slider-controls {
  float: left;
  width: 240px;
  margin-top: 44px;
  margin-bottom: 103px;
}

.service-slider::before {
  content: "";
  position: absolute;
  left: 230px;
  width: 10px;
  height: 272px;
  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
  z-index: 30;
}

.service-slider-controls label {
  display: block;
  margin: 0;
  padding: 15px 20px 16px 20px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: inset 0 1px 0 0 #405069,
  0 -1px 0 0 #293449;
  cursor: pointer;
}

.service-slider-controls label:hover {
  background-color: #293449;
  box-shadow: inset 0 1px 0 0 #405069,
  0 -1px 0 0 #293449;
}

#shipping:checked ~ .service-slider-controls label[for="shipping"],
#guarantee:checked ~ .service-slider-controls label[for="guarantee"],
#credit:checked ~ .service-slider-controls label[for="credit"] {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}

.service-slider-slide {
  float: right;
  width: 620px;
  display: none;
}

.service-slider-title {
  padding-top: 21px;
  font-size: 35px;
  line-height: 24px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
}

.service-slider-text {
  padding-top: 2px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.service-slider-slide:nth-child(1) p {
  width: 275px;
  margin-bottom: 129px;
}

.service-slider-slide:nth-child(2) p{
  width: 379px;
  margin-bottom: 105px;
}

.service-slider-slide:nth-child(3) p {
  width: 340px;
}

.btn-credit {
  display: block;
  width: 195px;
  margin-top: 26px;
  margin-bottom: 113px;
  padding: 10px 0 10px 0;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
  cursor: pointer;
}

.btn-credit:hover {
  background-color: #ca2c37;
}

.btn-credit:active {
  background-color: #ba2732;
}

.service-slider-slide:nth-child(1) {
  background-image: url("../img/service-slider-1.png");
  background-repeat: no-repeat;
  background-position: 151px 69px;
}

.service-slider-slide:nth-child(2) {
  background-image: url("../img/service-slider-2.png");
  background-repeat: no-repeat;
  background-position: 239px 47px;
}

.service-slider-slide:nth-child(3) {
  background-image: url("../img/service-slider-3.png");
  background-repeat: no-repeat;
  background-position: 166px 44px;
}

#shipping:checked ~ .service-slider-slides .service-slider-slide:nth-child(1) {
  display: block;
}
#guarantee:checked ~ .service-slider-slides .service-slider-slide:nth-child(2) {
  display: block;
}
#credit:checked ~ .service-slider-slides .service-slider-slide:nth-child(3) {
  display: block;
}

.block-info {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
}

.block-info .company {
  float: left;
  width: 540px;
  margin-bottom: 41px;
}

.block-info .contacts {
  float: right;
  width: 300px;
}

.block-info-title {
  padding-bottom: 4px;
  font-size: 30px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
}

.block-info p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.company p {
  padding-bottom: 10px;
}

.block-info-shipping {
  position: relative;
  display: block;
  margin-top: 6px;
  margin-bottom: 15px;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.block-info-shipping li {
  padding-left: 36px;
  padding-bottom: 20px;
}

.block-info-shipping li::before {
  content: "";
  position: absolute;
  left: 0px;
  width: 25px;
  height: 8px;
  background-color: transparent;
  border-bottom: 2px solid #ee3643;
}

.btn-company,
.btn-write-us {
  display: block;
  padding: 10px 0 10px 0;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
}

.btn-company {
  width: 220px;
}

.btn-write-us {
  width: 300px;
}

.btn-company:hover,
.btn-write-us:hover {
  background-color: #ca2c37;
}

.btn-company:active,
.btn-write-us:active {
  background-color: #ba2732;
}

.contacts p {
  padding-bottom: 18px;
}

.map {
  display: block;
  margin-bottom: 32px;
}

.footer-top {
  background-color: #32425c;
}

.footer-left-column {
  float: left;
  width: 330px;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-logo {
  width: 220px;
  margin-bottom: 32px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.footer-logo .logo-name {
  padding: 19px 0 14px 40px;
  font-size: 30px;
  line-height: 30px;
}

.footer-logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.footer-logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.footer-right-column {
  float: right;
  width: 560px;
  margin: 0;
  padding-right: 5px;
}

.footer-menu,
.footer-menu-catalog {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.footer-menu {
  margin-top: 32px;
  margin-left: 9px;
  margin-bottom: 25px;
}

.footer-menu li,
.footer-menu-catalog li {
  display: inline-block;
  vertical-align: top;
}

.footer-menu li {
  margin-right: 50px;
}

.footer-menu li:last-child {
  margin-right: -50px;
}

.footer-menu-catalog {
  margin-left: 35px;
}

.footer-menu-catalog li {
  margin-right: 49px;
}

.footer-menu-catalog li:last-child {
  margin-right: -25px;
}

.footer-menu a,
.footer-menu-catalog a {
  display: block;
  padding: 5px;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.footer-menu a {
  color: #f1f5f7;
}

.footer-menu-catalog a {
  color: #ffd180;
}

.footer-menu a:hover,
.footer-menu-catalog a:hover {
  text-decoration: underline;
}

.footer-menu a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-menu-catalog a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}

.footer-copyright {
  float: left;
  width: 240px;
  margin-right: 150px;
}

.footer-copyright p {
  margin-top: 36px;
  margin-bottom: 35px;
}

.footer-social {
  float: left;
  width: 170px;
  margin-top: 35px;
  margin-right: 80px;
  font-size: 0;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 2px;
  width: 42px;
  height: 42px;
  font-size: 0;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-btn:first-child {
  margin-left: 0;
}

.social-btn:hover {
  background-color: #ee3643;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
}

.social-btn-vk::before {
  width: 20px;
  height: 12px;
  background-position: -642px -5px;
}

.social-btn-fb::before {
  width: 10px;
  height: 18px;
  background-position: -278px -5px;
}

.social-btn-inst::before {
  width: 19px;
  height: 19px;
  background-position: -321px -5px;
}

.footer-feedback {
  float: left;
  width: 140px;
  margin-right: 20px;
}

.footer-developer {
  float: right;
  width: 140px;
}

.footer-feedback p,
.footer-developer p {
  margin: 0;
  margin-top: 36px;
}

.footer-developer p {
  padding-left: 30px;
}

.footer-feedback-link,
.footer-developer-link {
  color: #ffd180;
  text-decoration: none;
}

.footer-developer-link {
  padding-left: 30px;
}

.footer-feedback-link:hover,
.footer-developer-link:hover {
  text-decoration: underline;
}

.footer-feedback-link:active,
.footer-developer-link:active {
  color: #ee3643;
  text-decoration: none;
}

.user-profile {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin: 0;
  padding: 11px 0 13px 30px;
  font-size: 21px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  background-color: #ffffff;
}

.user-profile:hover {
  color: #000000;
}

.user-profile:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-profile::before {
  content: "";
  position: absolute;
  left: 13px;
  background-image: url("../img/sprite.png");
}

.user-profile-btn::before {
  width: 20px;
  height: 18px;
  background-position: -582px -5px;
}

.user-profile-btn:hover::before {
  width: 20px;
  height: 18px;
  background-position: -612px -5px;
}

.user-profile-btn:active::before {
  width: 20px;
  height: 18px;
  background-position: -582px -5px;
}

.user-exit {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 49px;
  height: 42px;
  background-color: #ffffff;
}

.user-exit::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 19px;
  background-image: url("../img/sprite.png");
}

.user-exit-btn::before {
  width: 21px;
  height: 17px;
  background-position: -410px -5px;
}

.user-exit-btn:hover::before {
  width: 21px;
  height: 17px;
  background-position: -441px -5px;
}

.user-exit-btn:active::before {
  width: 21px;
  height: 17px;
  background-position: -410px -5px;
}

.user-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 8px 14px 0 10px;
  padding: 0  1px 0 8px;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.user-btn:hover {
  color: #ee3643;
}

.user-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-btn-dot::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 98px;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
}

.breadcrumbs {
  display: inline-block;
  margin-top: 22px;
}

.breadcrumbs-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 0 10px;
  padding: 0 10px 0 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.breadcrumbs-btn-home {
  width: 20px;
  height: 20px;
  margin-left: 0;
  padding-right: 0;
}

.breadcrumbs-btn::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  background-image: url("../img/sprite.png");
}

.breadcrumbs-btn-home::before {
  width: 15px;
  height: 12px;
  background-position: -298px -5px;
}

.breadcrumbs-btn::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -12px;
  width: 11px;
  height: 11px;
  background-color: transparent;
  box-shadow: 1px 1px 0 1px #c1c6ce;
  border-radius: 50px 0 0 0;
  transform: rotate(-45deg) scale(0.73);
  cursor: default;
}

.breadcrumbs-btn:nth-child(4)::after {
  display: none;
}

.category-title {
  margin-top: 14px;
  padding: 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f1f5f7;
}

.filter {
  float: left;
  width: 220px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
}

.filter-title {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  padding: 10px 152px 10px 18px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.range-filter legend {
  margin-bottom: 14px;
}

.range-filter,
.brand-filter,
.power-filter {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}

.range-filter {
  padding-bottom: 23px;
  border-bottom: 1px solid #e5e5e5;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 39px;
  border-radius: 4px;
  background-color: #f7f3ec;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  position: relative;
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 17px;
}

.price-controls input {
  width: 56px;
  padding: 10px 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  background-color: #f7f3ec;
  border-radius: 4px;
  border: none;
}

.max-price {
  text-align: right;
}

.price-controls::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 107px;
  width: 6px;
  height: 1px;
  background-color: #000000;
}

.brand-filter legend {
  margin-bottom: 5px;
}

.brand-filter {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 19px;
}

.brand-filter-checkbox {
  display: none;
}

.brand-filter label {
  display: block;
  position: relative;
  margin-top: 9px;
  margin-bottom: 20px;
  padding-left: 33px;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  cursor: pointer;
}

.brand-filter label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -107px -5px;
}

.brand-filter-checkbox + label:hover::before {
  width: 23px;
  height: 23px;
  background-position: -140px -5px;
}

.brand-filter-checkbox:disabled + label::before {
  width: 27px;
  height: 27px;
  background-position: -107px -5px;
  opacity: 0.3;
}

.brand-filter-checkbox:checked + label::before {
  width: 27px;
  height: 27px;
  background-position: -173px -5px;
}

.brand-filter-checkbox:checked + label:hover::before {
  width: 27px;
  height: 27px;
  background-position: -210px -5px;
}

.brand-filter-checkbox:disabled:checked + label::before {
  width: 27px;
  height: 27px;
  background-position: -173px -5px;
  opacity: 0.3;
}

.power-filter {
  margin-bottom: 55px;
}

.power-filter legend {
  margin-bottom: 5px;
}

.power-filter-radio {
  display: none;
}

.power-filter label {
  display: block;
  position: relative;
  margin-top: 9px;
  margin-bottom: 21px;
  padding-left: 35px;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  cursor: pointer;
}

.power-filter label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 3px solid #c1c1c1;
  border-radius: 50%;
}

.power-filter label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 7px;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border-radius: 50%;
}

.power-filter-radio + label:hover::before {
  border-color: #b5b5b5;
}

.power-filter-radio:disabled + label::before {
  border-color: #e9e9e9;
}

.power-filter-radio:checked + label::after {
  background-color: #c1c1c1;
}

.power-filter-radio:checked + label:hover::after {
  background-color: #b5b5b5;
}

.power-filter-radio:disabled:checked + label::after {
  background-color: #e9e9e9;
}

.filter-btn {
  width: 140px;
  height: 38px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  cursor: pointer;
}

.filter-btn:hover {
  border-color: #bdc6ca;
}

.filter-btn:active {
  color: #000000;
  border: 1px solid #ee3643;
}

.catalog-content {
  float: right;
  width: 700px;
}

.sorting-block {
  position: relative;
  margin-bottom: 19px;
  font-size: 0;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.sorting-block-title {
  float: left;
  width: 81px;
  display: inline-block;
  vertical-align: top;
  margin-left: 19px;
  margin-right: 120px;
  padding: 10px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.sorting-btn {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  margin-right: 47px;
  padding-top: 10px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dotted #ee3643;
}

.sorting-btn:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-btn:active {
  color: #ee3643;
  border-bottom: none;
}

.sorting-btn-active {
  color: #ee3643;
  border-bottom: none;
}

.sorter-controls {
  float: right;
  margin-right: 13px;
}

.sorter-up {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  margin-right: 19px;
  width: 0px;
  height: 0px;
  border-bottom: 11px solid #c6c2bd;
  border-top: 11px solid transparent;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.sorter-up:hover {
  border-bottom-color: #000000;
}

.sorter-up:active {
  border-bottom-color: #ee3643;
}

.sorter-up-active {
  border-bottom-color: #ee3643;
}

.sorter-down {
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
  width: 0px;
  height: 0px;
  border-bottom: 11px solid transparent;
  border-top: 11px solid #c6c2bd;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.sorter-down:hover {
  border-top-color: #000000;
}

.sorter-down:active {
  border-top-color: #ee3643;
}

.catalog-items {
  margin-bottom: 32px;
  font-size: 0;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.pagination {
  padding-right: 10px;
  font-size: 0;
  white-space: nowrap;
}

.btn-pagination {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  padding: 9px 15px 9px 15px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.btn-pagination-next {
  padding-left: 29px;
  padding-right: 29px;
}

.btn-pagination:hover {
  border: 1px solid #bdc6ca;
}

.btn-pagination:active {
  border: 1px solid #ee3643;
}

.current {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;
}

.current:hover {
  border-color: #ee3643;
}

.category-text {
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 55px;
  background-color: #f1f5f7;
}

.category-text-title {
  margin: 0;
  padding-top: 8px;
  font-size: 30px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.category-text p {
  padding-top: 16px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.modal-content-write-us {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  width: 460px;
  transform: translate(-50%, -50%);
  padding: 48px 80px 34px 80px;
  color: #000000;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.7), inset 0 -114px 0 0 #f1f1f1;
  z-index: 40;
}

.modal-content-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 22px;
  height: 22px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -3px;
  width: 25px;
  height: 5px;
  background-color: #ee3643;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.write-us-form-user {
  display: inline-block;
  margin-bottom: 21px;
}

.write-us-form-user label {
  display: block;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 18px;
}

.write-us-form-user input {
  vertical-align: top;
  width: 200px;
  padding: 8px 0 8px 15px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.write-us-form .user-name {
  margin-right: 18px;
}

.write-us-form textarea {
  display: block;
  width: 440px;
  margin-bottom: 52px;
  padding: 8px 0 76px 15px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  resize: none;
}

.write-us-form input[type="text"]::-webkit-input-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
}

.write-us-form input[type="text"]::-moz-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
}

.write-us-form input[type="text"]:-moz-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
}

.write-us-form input[type="text"]:-ms-input-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
}

.write-us-form textarea::-webkit-input-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
}

.write-us-form textarea::-moz-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
}

.write-us-form textarea:-moz-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
}

.write-us-form textarea:-ms-input-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
}

.write-us-btn {
  width: 460px;
  padding: 10px 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ee3643;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.write-us-btn:hover {
  background-color: #ca2c37;
}

.write-us-btn:active {
  background-color: #ba2732;
}

.modal-content-map {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  width: 940px;
  height: 446px;
  transform: translate(-50%, -50%);
  background-color: #f7f3ec;
  background: url("../img/map-big.png");
  box-shadow: 0 0 16px 8px rgba(35, 31, 32, 0.5);
  z-index: 40;
}

.modal-content-basket {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  width: 460px;
  transform: translate(-50%, -50%);
  padding: 50px 80px 37px 80px;
  color: #000000;
  background: #ffffff url("../img/product-in-basket.png") no-repeat 80px 50px;
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.7), inset 0 -114px 0 0 #f1f1f1;
  z-index: 40;
}

.modal-content-basket span,
.product-in-basket span {
  display: inline-block;
  vertical-align: top;
  margin-top: 25px;
  margin-left: 100px;
  margin-bottom: 107px;
  font-size: 30px;
  line-height: 18px;
  color: #000000;
}

.modal-content-basket-btn {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
}

.modal-content-basket-btn-order {
  margin-right: 10px;
}

.modal-content-basket-btn-shop {
  color: #000000;
  background-color: #ffffff;
}

.modal-content-basket-btn-order:hover {
  background-color: #ca2c37;
}

.modal-content-basket-btn-order:active {
  background-color: #ba2732;
}

.modal-content-basket-btn-shop:hover {
  color: #ee3643;
}

.modal-content-basket-btn-shop:active {
  color: #c5c5c5;
}

.write-us {
  width: 462px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 48px 80px 34px 80px;
  color: #000000;
  background-color: #ffffff;
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  border-top: 7px solid #ee3643;
  box-shadow: inset 0 -114px 0 0 #f1f1f1;
  resize: none;
}

.product-in-basket {
  width: 462px;
  margin: 60px auto;
  padding: 50px 80px 37px 80px;
  color: #000000;
  background: #ffffff url("../img/product-in-basket.png") no-repeat 80px 50px;
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  border-top: 7px solid #ee3643;
  box-shadow: inset 0 -114px 0 0 #f1f1f1;
}
