body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  padding-bottom: 60px;
  background-color: #f1f5f7;
}

.main-menu {
  height: 42px;
  background-color: #293449;
}

.header-logo {
  height: 42px;
  float:left;
  margin-right: 10px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.logo-name {
  display: block;
  padding-top: 12px;
  padding-right: 54px;
  padding-bottom: 12px;
  padding-left: 54px;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.header-logo:hover {
  background-color: #ca2c37;
  border-bottom: 5px solid #9a212a;
}

.header-logo:active {
  background-color: #ba2732;
  border-bottom: 5px solid #8e1e26;
}

.block-search {
  float: left;
}

.search-btn {
  position: relative;
}

.search-btn::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 20px;
  height: 20px;
  background: red url("../img/icon-search.png") no-repeat;
  background-position: -10px -548px;
}

.search input {
  width: 220px;
  padding: 11px 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  border: none;
}

.top-menu {
  float: right;
}

.top-menu-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  max-width: 150px;
  padding: 12px 10px;
  padding-left: 50px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.top-menu-btn-bookmark {
  background: transparent url("../img/icon-bookmark.png") no-repeat 24px 12px;
}

.top-menu-btn-bookmark:hover {
  background: #212a3a url("../img/icon-bookmark-hover.png") no-repeat 24px 12px;
}

.top-menu-btn-basket:hover {
  background-color: #212a3a;
}

.top-menu-btn-basket {
  background: transparent url("../img/icon-basket.png") no-repeat 24px 12px;
}

.top-menu-btn-basket:hover {
  background: #212a3a url("../img/icon-basket-hover.png") no-repeat 24px 12px;
}

.top-menu-btn-bookmark:active,
.top-menu-btn-basket:active {
  opacity: 0.6;
}

.top-menu-btn-order {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #63a63e;
}

.top-menu-btn-order:hover {
  background-color: #5fbb2d;
}

.top-menu-btn-order:active {
  opacity: 0.7;
}

.shop-info {
  padding-top: 45px;
  padding-bottom: 40px;
}

.about-shop {
  float: left;
  max-width: 197px;
  margin-left: 50px;
  margin-right: 66px;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.about-shop p {
  margin: 0;
}

.shop-contacts {
  float: left;
  width: 271px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.shop-contacts-phone {
  position: relative;
  display: block;
  padding: 10px 50px;
  padding-left: 70px;
  border: 3px solid #ffffff;
  font-size: 21px;
  line-height: 18px;
  color: #ee3643;
  background: transparent url("../img/icon-phone.png") no-repeat 13px 10px;
}

.user-block {
  float: right;
  min-width: 280px;
}

.user-block-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 13px 24px;
  font-size: 21px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
}

.user-block-btn-login {
  padding-left: 45px;
  background: #ffffff url("../img/icon-login.png") no-repeat 13px 14px;
}

.user-block-btn-login:hover {
  color: #ee3643;
  background: #ffffff url("../img/icon-login-hover.png") no-repeat 13px 14px;
}

.user-block-btn-registration {
  margin-left: 10px;
}

.user-block-btn-login:active {
  color: rgba(0, 0, 0, 0.3);
  background: #ffffff url("../img/icon-login.png") no-repeat 13px 14px;
}

.user-block-btn-registration:hover {
  color: #ee3643;
}

.user-block-btn-registration:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {

}

.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  outline: 1px solid yellow;
}

.navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  line-height: 17px;
}

.navigation a {
  display: block;
  padding: 20px 32px;
  color: #ffffff;
  text-decoration: none;
  background-color: #32425c;
  border-bottom: 3px solid #293449;
}

.navigation a:hover {
  background-color: #293449;
}

.navigation a:active {

}

.main-content {
  margin-bottom: 45px;
}

.promo-block {
  margin-bottom: 50px;
  /* убрать */
  outline: 2px solid yellow;
}

.promo-row-top {
  margin-bottom: 20px;
  font-size: 0;
}

.banner {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  min-height: 122px;
  margin-right: 20px;
  font-size: 13px;
}

.banner-title {
  padding-left: 22px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
}

.banner-btn {
  display: inline-block;
  vertical-align: top;
  width: 135px;
  margin-left: 23px;
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.banner-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.banner-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-row-top .banner:last-child {
  margin-right: 0;
}

.banner-materials {
  background-color: #f6b22d;
  background-image: url("../img/banner-materials.png"), url("../img/new-flag.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 213px 30px, 240px 0px;
}

.banner-instruments {
  background: #4aafde url("../img/banner-instruments.png") no-repeat 196px 32px;
}

.banner-technics {
  background: #cc79d1 url("../img/banner-technics.png") no-repeat 191px 30px;
}

.banner-discounts {
  background: #85d179 url("../img/banner-discounts.png") no-repeat 196px 26px;
}

.banner-shipping {
  background: #f6b22d url("../img/banner-shipping.png") no-repeat 190px 32px;
}

.promo-row-bottom {
  /* убрать */
  outline: 2px solid blue;
}

.promo-column-left {
  float: left;
  width: 620px;
  min-height: 266px;
}

.promo-column-right {
  float: right;
  width: 300px;
}

.promo-column-right .banner {
  margin-right: 0;
}

.promo-column-right .banner:first-child {
  margin-bottom: 20px;
}

.block-popular-items {
  margin-bottom: 20px;
}

.popular-row {
  margin-bottom: 20px;
  background-color: #f7f3ec;
}

.popular-title {
  display: inline-block;
  vertical-align: middle;
  margin-left: 24px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.popular-btn {
  float: right;
  display: inline-block;
  vertical-align: middle;
  width: 253px;
  margin: 25px 24px 25px 0;
  padding: 10px 0 10px 0;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
}

.popular-btn:hover {
  background-color: #ca2c37;
}

.popular-btn:active {
  background-color: #ba2732;
}

.popular-items {
  margin-bottom: 20px;
  font-size: 0;
}

.item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #cccccc;

}

.main-item:last-child {
  margin-right: 0;
}

.item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.item .actions .btn-buy,
.item .actions .btn-bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.item .actions .btn-bookmark {
  color: #32425c;
  background-color: #ffffff;
  border-bottom-color: #63a63e;
}

.item .actions {
  display: none;
}

.item:hover .actions {
  display: block;
}

.item .item-picture {
  width: 218px;
  height: 168px;
}

.item .item-picture img {
  max-width: 100%;
}

.item .item-title {
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #000000;
  text-decoration: none;
}

.item .old-price {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999999;
  text-decoration: line-through;
}

.item .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.item .price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid #ffffff;
  border-left-color: #ee3643;
}

.popular-brends {
  font-size: 0;
}

.brend {
  display: inline-block;
  width: 218px;
  height: 143px;
  margin-right: 20px;
  margin-bottom: 20px;
  vertical-align: top;
  border: 1px solid #cccccc;
}

.brend:nth-child(4n) {
  margin-right: 0;
}

.block-service {
  padding-top: 60px;
  padding-bottom: 100px;
  background-color: #f1f5f7;
  /* убрать */
  outline: 2px solid green;
}

.block-service-title {
  /* убрать */
  outline: 2px solid yellow;
}

.service-slider {
  /* убрать */
  outline: 2px solid yellow;
}

.block-info {
  font-family: "Cuprum", sans-serif;
  color: #000000;
}

.block-info .company {
  float: left;
  width: 540px;
  margin-bottom: 60px;
}

.block-info .contacts {
  float: right;
  width: 300px;
}

.block-info p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.block-info-title {
  font-size: 30px;
  line-height: 24px;
}

.block-info-shipping {
  font-size: 18px;
  line-height: 20px;
}

.btn-company,
.btn-write-us {
  display: block;
  padding: 10px 0 10px 0;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
}

.btn-company {
  width: 220px;
}

.btn-write-us {
  width: 300px;
}

.footer-top {
  background-color: #32425c;
  /* убрать */
  outline: 2px solid green;
}

.footer-left-column {
  float: left;
  width: 330px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  /* убрать */
  outline: 2px solid yellow;
}

.footer-logo {
  width: 220px;
  margin-bottom: 30px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.footer-logo .logo-name {
  padding-top: 21px;
  padding-bottom: 16px;
}

.footer-right-column {
  float: right;
  width: 550px;
  margin: 0;
  padding: 0;
  /* убрать */
  outline: 2px solid yellow;
}

.footer-menu,
.footer-menu-catalog {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.footer-menu li,
.footer-menu-catalog li {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 24px;
}

.footer-menu a,
.footer-menu-catalog a {
  display: block;
  width: 90px;
  text-decoration: none;
}

.footer-menu a {
  color: #ffffff;
}

.footer-menu-catalog a {
  color: #ffd180;
}

.footer-bottom {
  background-color: #293449;
  /* убрать */
  outline: 2px solid green;
}

.footer-copyright {
  float: left;
  width: 240px;
  min-height: 100px;
  margin-right: 150px;
  /* убрать */
  outline: 2px solid yellow;
}

.footer-social {
  float: left;
  width: 170px;
  min-height: 100px;
  margin-right: 80px;
  /* убрать */
  outline: 2px solid yellow;
}

.footer-feedback {
  float: left;
  width: 140px;
  min-height: 100px;
  margin-right: 20px;
  /* убрать */
  outline: 2px solid yellow;
}

.footer-developer {
  float: right;
  width: 140px;
  min-height: 100px;
  /* убрать */
  outline: 2px solid yellow;
}

/* Страница каталога */

.breadcrumbs {
  padding-top: 20px;
  padding-bottom: 20px;
  /* убрать */
  outline: 2px solid yellow;
}

.category-title {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f1f5f7;
  /* убрать */
  outline: 2px solid yellow;
}

.catalog {
  outline: 2px solid #d6dbff;
}

.filter {
  float: left;
  width: 220px;
  /* убрать */
  outline: 2px solid yellow;
}

.catalog-content {
  float: right;
  width: 700px;
}

.sorting-block {
  min-height: 38px;
  margin-bottom: 20px;
  /* убрать */
  outline: 2px solid yellow;
}

.catalog-items {
  margin-bottom: 50px;
  font-size: 0;
  /* убрать */
  outline: 2px solid yellow;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.pagination {
  font-size: 13px;
  min-height: 38px;
  outline: 2px solid yellow;
}

.category-text {
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f1f5f7;
  /* убрать */
  outline: 2px solid green;
}

.category-text-title {
  margin: 0;
}
